version: '3.8'
services:
  slam:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    volumes:
      - ../config:/app/config
      - ../data:/app/data
      - ../python:/app/python
    command: python3 python/main.py