version: '3.8'
services:
  slam:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
    volumes:
      - ../config:/app/config
      - ../data:/app/data
      - ../python:/app/python
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    command: python3 python/main.py