version: '3.8'
services:
  slam:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - XDG_RUNTIME_DIR=/tmp/runtime
      - PYTHONPATH=/app/build:/app/python
    volumes:
      - ..:/app
      - ./entrypoint.sh:/entrypoint.sh
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ~/.Xauthority:/root/.Xauthority:rw
    entrypoint: ["/bin/bash", "/entrypoint.sh"]